*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , 'sans-serif';
    box-sizing: border-box;
}

.main
{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,rgb(61, 212, 136),#0982aa);
    padding: 10px;
    padding: 13px 14px;
    
}

.welcome
{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(209, 206, 227);
    border-radius: 10px;
    
}

.welcome h3{
    color: #ff5945;
    padding-right: 20px;
}
.datecontainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    width: 100%;
    max-width: 340px;
    margin:50px auto 20px;
    justify-content: center;
}
#datePicker {
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
  }
  .big-date {
    margin-top: 30px;
    font-size: 32px;
    font-weight: bold;
    color: #3f51b5;
    transition: all 0.3s ease;
  }

.todo_app{
    width: 100%;
    max-width: 540px;
    background-color: #ffffff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;

}
.todo_app h3{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom:20px;
}
.todo_app h3 img{
    width: 30px;
    margin-left: 10px;

}
.input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 30px;
    padding-left: 20px;

}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px; 
}
ul li{
    list-style: none;
    cursor: pointer;
    padding: 12px 8px 12px 50px;
    font-size: 17px;
    font-weight: 500;
    user-select: none;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(../images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color:#555 ;
    text-decoration: line-through;
    

}
ul li.checked::before{
    background-image: url(../images/checked.png);
    height: 20px;
    width: 20px;
}

ul li span{
    position: absolute;
    right: 0;
    top:5px;
    width: 40px;
    height: 40px;
    font-size:22px;
    color: #555;
    line-height:40px;
    text-align: center;
    border-radius: 50%;

}
ul li span:hover{
    background: #edeef0;
}





